<div class="team-content">
  <div class="team">
    <h4>Member And Role</h4>
    <h3>AWESOME TEAM</h3>
  </div>

  <p-carousel [value]="carouselImage" styleClass="custom-carousel" [numVisible]="4" [numScroll]="4" [circular]="true"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-carousel pTemplate="item">
      <div class="carousel-item">
        <div class="carousel-item-content">
          <div class="image-carousel flex flex-column justify-content-center align-items-center"
            style="background-image:url(../../../assets/carousel/{{carousel.image}}) ;">
            <!-- <img src="../../../assets/carousel/{{carousel.image}}" [alt]="carousel.name" class="carousel-image"/> -->
            <div class="social-media">
              <p-button class="carousel-buttons" type="button" styleClass="p-button p-button-rounded mr-2"
                icon="pi pi-facebook" (click)="redirectFacebook(carousel.facebook)"></p-button>
              <p-button class="carousel-buttons" type="button" styleClass="p-button-success p-button-rounded mr-2"
                icon="pi pi-twitter" (click)="redirectTwitter(carousel.twitter)"></p-button>
              <p-button class="carousel-buttons" type="button" styleClass="p-button-help p-button-rounded"
                icon="pi pi-linkedin" (click)="redirectLinkedin(carousel.linkedin)"></p-button>
            </div>
          </div>
          <div class="carousel-description flex flex-column justify-content-center align-items-center">
            <h4>{{carousel.name}}</h4>
            <span>{{carousel.description}}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>

</div>

<div class="recent-news-content">
  <div class="recent-news grid align-items-center justify-content-center">
    <div class="xs:col-12 md:col-12 lg:col-5">
      <p-card>
        <div style="max-height: 100%;">
          <div class="image-news" style="background-image:url(../../../assets/carousel/carousel2.jpg);"></div>
          <div class="news-description bg-gray-200">
            <div class="news-description-punchline mx-4 flex justify-content-center flex-wrap">
              <div class="row flex col-12 xs:col-12 md:col-12 lg:col-12">
                <div class="col-2 text-center text-date">
                  <h1 class="tanggal">29</h1>
                  <h4 class="bulan">MAY</h4>
                </div>
                <div class="col-10 text-description">
                  <p class="title">Indahnya Berbagi Dengan Sesama Makhluk</p>
                </div>
              </div>
              <div class="row flex col-12">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam assumenda eveniet quos. Illo
                  doloremque, voluptatem odit cum nostrum expedita non nam impedit neque, eligendi qui, possimus itaque.
                  Modi numquam voluptatem fugiat eaque accusamus illum, fugit facere recusandae, veniam vero similique?
                  Aperiam, nulla.</p>
              </div>
            </div>
            <div class="news-description-footer mx-4 flex justify-content-center">
              <div class="col-6 text-center">
                <p>By <span style="color: red;">Admin</span></p>
              </div>
              <div class="col-6 text-center">
                <p>Comments <span style="color: red;">(0)</span></p>
              </div>
            </div>
          </div>
        </div>
      </p-card>
    </div>
    <div class="xs:col-12 md:col-12 lg:col-7">
      <div class="col-12">
        <p-card>
          <div class="bg-gray-200">
            <div class="grid col-12 flex align-items-center justify-content-center">
              <div class="image-news-mini md:col-3 xs:col-12"
                style="background-image:url(../../../assets/carousel/carousel3.jpg);">
              </div>
              <div class="news-description md:col-9">
                <div class="news-description-punchline mx-4 flex justify-content-center flex-wrap">
                  <div class="row flex col-12 xs:col-12 md:col-12 lg:col-12" style="margin-bottom: -50px;">
                    <div class="col-2 text-center text-date">
                      <h1 class="tanggal">10</h1>
                      <h4 class="bulan">MAY</h4>
                    </div>
                    <div class="col-10 text-description flex align-items-center">
                      <p class="title">Ayo Semoga Cepat Selesai</p>
                    </div>
                  </div>
                  <div class="row flex col-12 xs:col-12 md:col-12 lg:col-12">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam assumenda eveniet quos. Illo
                      doloremque, voluptatem odit cum nostrum expedita non nam impedit neque, eligendi qui, possimus
                      itaque. Modi numquam voluptatem fugiat eaque accusamus illum, fugit facere recusandae, veniam vero
                      similique? Aperiam, nulla.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-12">
        <p-card>
          <div class="bg-gray-200">
            <div class="grid col-12 flex align-items-center justify-content-center">
              <div class="image-news-mini md:col-3 xs:col-12"
                style="background-image:url(../../../assets/carousel/carousel3.jpg);">
              </div>
              <div class="news-description md:col-9">
                <div class="news-description-punchline mx-4 flex justify-content-center flex-wrap">
                  <div class="row flex col-12 xs:col-12 md:col-12 lg:col-12" style="margin-bottom: -50px;">
                    <div class="col-2 text-center text-date">
                      <h1 class="tanggal">10</h1>
                      <h4 class="bulan">MAY</h4>
                    </div>
                    <div class="col-10 text-description flex align-items-center">
                      <p class="title">Ayo Semoga Cepat Selesai</p>
                    </div>
                  </div>
                  <div class="row flex col-12 xs:col-12 md:col-12 lg:col-12">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam assumenda eveniet quos. Illo
                      doloremque, voluptatem odit cum nostrum expedita non nam impedit neque, eligendi qui, possimus
                      itaque. Modi numquam voluptatem fugiat eaque accusamus illum, fugit facere recusandae, veniam vero
                      similique? Aperiam, nulla.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
